body {
  margin: 0;
  background-color: rgb(34, 34, 34);
}
div {
  width: 800px;
  padding: 20px;

  background-color: antiquewhite;
  margin: 20px auto;

  border-radius: 6px;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;

  margin: 0 0 10px 0;
}

input {
  width: 400px;
  height: 28px;
  margin: 0 20px 20px 0;

  border: 1px solid black;
  border-radius: 6px;
}

button {
  width: 70px;
  height: 30px;
  display: block;

  background-color: rgb(243, 224, 55);

  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

span.warning {
  color: brown;
}

input.warning {
  background-color: brown;
}
